
@media only screen and (min-width: 1000px) {
  & a:hover {
    color: red;
  }
}

@media only screen and (max-width: 1000px) {
  & a:active {
    color: red;
  }
  dotlottie-player {
    top:0rem
 
}

}