/*------------------ Generic SECTION ------------------*/
* {
  background-color: #121212;
  color: white;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/*--------------- Navigation SECTION ---------------*/

nav {
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  overflow: hidden;
  display: flex;
  gap: 2rem;
  font-size: 0;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5%;
  transition: transform 0.25s ease-in-out;
}

#top-nav.show {
  transform: translateY(0);
}

#top-nav.hide {
  transform: translateY(-100%);
}

#top-nav .nav-links {
  margin-right: 5vw;
}

#top-nav .nav-owner {
  margin-left: 5vw;
}

.nav-links {
  display: flex;
}

#top-nav .nav-owner,
.nav-links a {
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ff4c4c;
}

/*--------------- Profile SECTION ---------------*/

.box {
  position: relative;
  z-index: 1;
}

#profile {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#profile .profile-name,
#profile .profile-job {
  font-size: 2rem;
  top: 5vh;
  position: relative;
  align-items: center;
  text-align: center;
}

#profile .profile-job {
  color: #ff4c4c;
}

#techstack {
  display: flex;
  align-items: center;
  justify-content: center;
}

#techstack img {
  width: 30px;
  height: 30px;
  margin: 5rem 15px 0;
}

/*--------------- Footer SECTION ---------------*/

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color: white;
}
