@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*------------------ Constant variables -----------------*/

:root {
  --default-background-color: #1b1d24;
  --default-text-color: #a8aeb1;
  --default-border-color: #404453;
  --red-accent-color: #e91e63;
  --main-border-size: 0.25rem;
}

/*---------------------- animation ----------------------*/
@keyframes animation-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----------------------red section ----------------------*/

* {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  -webkit-tap-highlight-color: transparent !important;
  scrollbar-color: #e91e63 transparent;
  scrollbar-width: thin;
  overflow-x: hidden;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
  animation: animation-fadeIn 5s;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  padding-bottom: 5rem;
  padding-top: 0rem;
  border-bottom: var(--default-border-color) solid 0.125rem;

  margin-top: 5rem;
  &:first-of-type {
    margin-top: 10rem;
  }
  & h1 {
    font-size: 3rem;
    color: white;
    position: relative;
  }
  & h1:before {
    content: "";
    position: absolute;
  }
  & h2 {
    font-size: 2rem;
    color: var(--red-accent-color);
  }
}

/*-------------------- header section -----------------------------*/
#header {
  overflow: hidden;
  position: fixed;

  height: 5rem;
  left: 0;
  right: 0;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: var(--default-border-color) solid var(--main-border-size);

  & a {
    text-decoration: none;
  }
}

#logo {
  margin-left: 5rem;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
}

#menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-right: 5rem;
}

#btn-mobile {
  display: none;
}

/*------------------------ Class section-------------------------*/

.basic-grid {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 3rem;
  color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
} */

.button {
  padding: 0.75rem;

  border: var(--default-border-color) solid 0.125rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 0.8rem;
  transition: transform 350ms;
  width: max-content;

  &:hover,
  &:focus-visible {
    transform: translateY(-0.75rem);
    transition: transform 350ms;
    border: var(--red-accent-color) solid 0.125rem;
    color: var(--red-accent-color);
  }
}

/*-------------------COVER-----------------------------*/

#section-cover {
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5rem;
  height: 50rem;

  & .section__pic-container {
    display: flex;
    aspect-ratio: 1;
    width: 40vh;
    height: auto;
  }
  & .section__text__p1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--red-accent-color);
    font-weight: 600;
  }
  & .techstack {
    display: flex;
    gap: 2rem;

    & img {
      max-width: 1.75rem;
      margin-top: 2rem;
    }
  }
}
